* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

ul {
    list-style-type: none;
}

